--extra-index-url https://download.pytorch.org/whl/cu130
torch
torchvision
timm
streamlit
opencv-python-headless
albumentations
scikit-learn
grad-cam
matplotlib
pillow
pandas
scikit-learn
plotly
